@import "../../styles/variables.scss";

.loadingContainer {
	position: fixed;
	height: 100vh;
	width:auto;
}

.videoContainer {
	height: 100vh;
	width:auto;
}

.container {
	position: relative;

	.perfomanceContainer {
		margin-top: -5px;
		padding-top: 1rem;
		display: flex;
		justify-content: space-between;
		min-height: 50px;
		background: $pink;

		img {
			width: 100%;
			height: auto;
		}

		.dialogBox {
			position:relative;
			height: 100%;
			min-width: 350px;

			img {
				width: 100%;
				height: auto;
			}

			.textContainer {
				position: absolute;
				width: 100%;
				top: -10px;
				display: flex;
				justify-content: center;
				align-items: center;
				height: 100%;

				.text {
					font-family: 'Montserrat', sans-serif;
					font-size: 1.2rem;
					color: $letter;
					text-transform: uppercase;
				}
			}

			
		}
	}

	.two {
		padding: 2% 10%;
	}

	.sliderContainer {
		img {
			width: 100%;
			height: auto;
		}
	}

}