*,
*::before,
*::after {
	box-sizing: inherit;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	overflow-x: hidden;
	box-sizing: border-box;
}

body {
  	background-color: white;
	margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}